<nav>
<ul>
<li>

    <div class="dropdown">

        <button class="btn btn-success"></button>

        <div class="dropdown-content">

          <a routerLink="/Exam" routerLinkActive="active-link">Exam Certifications </a>

          <a routerLink="/Questions" routerLinkActive="active-link">Questions</a>

          <a routerLink="/Booking" routerLinkActive="active-link">Booking</a>

          <a routerLink="/Examstatus" routerLinkActive="active-link">Status</a>

        </div>

      </div>
                     
</li>
</ul>
</nav>