<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a routerLink="/home"><img src="assets/TM_logo.png" alt="Talent Metric Logo" class="logo"></a>
      <a class="navbar-brand logo-text" routerLink="/home">Talent Metric</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-items">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!isLoggedIn()" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!isLoggedIn()" aria-current="page" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!isLoggedIn()" aria-current="page" routerLink="/certifications">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!isLoggedIn()" aria-current="page" routerLink="/contactus">Contact Us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin" 
            *ngIf="userService.roleMatch(['Admin'])">Admin Dashboard</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user" style="color:white ;"
            *ngIf="userService.roleMatch(['User'])" 
            >Profile</a>
          </li>
        </ul>
<button *ngIf="! isLoggedIn()" type="button"  style="background-color: #236fa9; color: white;" mat-raised-button routerLink="/login" class="login-btns">Login</button>&nbsp; &nbsp;
<button *ngIf="! isLoggedIn()" type="button"  style="background-color: #236fa9; color: white;" mat-raised-button routerLink="/signup" class="login-btns">Register</button>
&nbsp;
&nbsp;
<button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>
