<div class="home-section">
  <div class="background-section"></div>
  <div class="demo-section">
      <h1>Ready for an Exquisite Stay?</h1>
      <div class="divider"></div>
      <p>Experience our luxurious rooms and unparalleled hospitality with a hassle-free booking process. Sign up or log in to our portal to explore our range of rooms and book your dream stay today.</p>
      <button type="button" style="font-size: 24px;" mat-raised-button routerLink="/login" class="demo-btn">BOOK NOW</button>
  </div>
  <div class="why-section">
      <h1>Why Choose Our Hotel?</h1>
      <div class="divider"></div>
      <div class="items-container">
          <div class="item">
              <i class="fa-solid fa-door-open"></i>
              <h2>Exquisite Rooms</h2>
              <p>Indulge in our meticulously designed rooms and suites for an unforgettable experience.</p>
          </div>
          <div class="item">
              <i class="fa-solid fa-concierge-bell"></i>
              <h2>24/7 Concierge</h2>
              <p>Our dedicated team is always available to cater to your every need, ensuring a seamless stay.</p>
          </div>
          <div class="item">
              <i class="fa-solid fa-dinner"></i>
              <h2>Gourmet Dining</h2>
              <p>Savor the finest cuisines crafted by our world-renowned chefs, offering an exquisite culinary journey.</p>
          </div>
      </div>
      <div class="bb">
          <button type="button" style="font-size: 24px;" mat-raised-button routerLink="/aboutus" class="km-btn">DISCOVER MORE</button>
      </div>
  </div>
  <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <h6>About</h6>
                  <p class="text-justify" style="text-align:justify;">Our hotel offers an unmatched experience, providing guests with a perfect blend of luxury and comfort. With our state-of-the-art amenities and exceptional service, we aim to create memorable stays for our esteemed guests. From elegant rooms to top-notch dining and dedicated concierge services, we ensure every aspect of your stay is nothing short of extraordinary.</p>
              </div>

              <div class="col-xs-6 col-md-3">
                  <h6>Rooms</h6>
                  <ul class="footer-links">
                      <li><a routerLink="/rooms">Deluxe</a></li>
                      <li><a routerLink="/rooms">Suite</a></li>
                      <li><a routerLink="/rooms">Penthouse</a></li>
                      <li><a routerLink="/rooms">Villa</a></li>
                  </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                      <li><a routerLink="/aboutus">About Us</a></li>
                      <li><a routerLink="/contactus">Contact Us</a></li>
                      <li><a routerLink="/login">Login</a></li>
                      <li><a routerLink="/signup">Sign Up</a></li>
                  </ul>
              </div>
          </div>
          <hr>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Our Hotel.</p>
              </div>
          </div>
      </div>
  </footer>
</div>




