<section class="product">
	<div class="product__photo">
		<div class="photo-container">
			<div class="photo-main">
				<img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/python_vertical_logo_icon_168039.png" alt="green apple slice">
			</div>
		</div>
	</div>
	<div class="product__info">
		<div class="title">
			<h1>Delicious Apples</h1>
		</div>
		<div class="price">
			$ <span>7.93</span>
		</div>
		<div class="description">
			<h3>BENEFITS</h3>
			<p></p>
		</div>
		<button class="buy--btn">Book</button>
		
	</div>
</section>
