<div class="about-section">
    <h1>Certifications</h1>
    <div class="divider"></div>
    <p>Talent Metric certifications validate expertise, enhance career prospects and create new opportunities.</p>
  </div>

  <div class="items-container">
    <div class="item">
        <div class="logo-image"></div>
        <h2>Python Basics</h2>
        <p>$20</p>
        <p>25 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>

    <div class="item">
        <div class="logo-image"></div>
        <h2>UI Design</h2>
        <p>$30</p>
        <p>40 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>

    <div class="item">
        <div class="logo-image"></div>
        <h2>PHP</h2>
        <p>$40</p>
        <p>40 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>

    <div class="item">
        <div class="logo-image"></div>
        <h2>C Sharp</h2>
        <p>$15</p>
        <p>20 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>

    <div class="item">
        <div class="logo-image"></div>
        <h2>Java Basics</h2>
        <p>$20</p>
        <p>30 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>

    <div class="item">
        <div class="logo-image"></div>
        <h2>Android App Dev</h2>
        <p>$20</p>
        <p>35 Questions</p>
        <button type="button"  style="font: size 48px;" mat-raised-button routerLink="/login" class="km-btn">Know More</button>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify" style="text-align:justify;">Our online certification test platform offers a convenient and reliable way for individuals to validate their knowledge and skills in various subject areas. With a user-friendly interface and a wide range of certification exams available, our platform allows learners to access quality assessments and receive recognition for their achievements. Our rigorous testing process ensures that our certifications are widely respected and valued by employers and industry professionals. Whether you're looking to advance your career or simply validate your knowledge, our online certification test platform provides a flexible and accessible way to demonstrate your expertise.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Certifications</h6>
          <ul class="footer-links">
            <li><a routerLink="/certifications">C</a></li>
            <li><a routerLink="/certifications">UI Design</a></li>
            <li><a routerLink="/certifications">PHP</a></li>
            <li><a routerLink="/certifications">Java</a></li>
            <li><a routerLink="/certifications">Android</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/contactus">Contact Us</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Register</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by Talent Metric.</p>
        </div>
      </div>
    </div>
</footer>